:root {
  --prussian-blue: #012a4aff;
  --indigo-dye: #013a63ff;
  --indigo-dye-2: #01497cff;
  --usafa-blue: #014f86ff;
  --sapphire-blue: #2a6f97ff;
  --celadon-blue: #2c7da0ff;
  --blue-green: #468fafff;
  --maximum-blue: #61a5c2ff;
  --dark-sky-blue: #89c2d9ff;
  --light-blue: #a9d6e5ff;
  --powder-blue: #caf0f8ff;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: var(--powder-blue);
}

/* SECTION 1: Header */

/*
header,
h1,
nav,
div {
  border: 1px solid black;
}
*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 0px;
  background-color: var(--indigo-dye);
}

.logo {
  display: flex;
  justify-content: end;
  font-size: 70px;
  width: 500px;
  padding: 10px;
  background-color: var(--maximum-blue);
}

.nav-bar-link {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-left: 80px;
  align-self: center;
  font-size: 40px;
  text-decoration: none;
}

.link {
  text-decoration: underline 7px;
  color: var(--maximum-blue);
}

/* Media Responsive web-page for mobile phone 576px */
@media only screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    padding: 0;
  }

  .logo {
    font-size: 45px;
    width: 100%;
    justify-content: flex-start;
  }

  .nav-bar-link {
    flex-direction: column;
  }

  .nav-link {
    margin: 7px 0;
    font-size: 25px;
  }
}
