:root {
  --indigo-dye: #013a63ff;
  --light-blue: #a9d6e5ff;
  --powder-blue: #caf0f8ff;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1.3;
  background-color: var(--powder-blue);
  color: var(--indigo-dye);
}

/* SECTION 1: Header */

/*
header,
h1,
nav,
div {
  border: 1px solid black;
}
*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0px;
  background-color: var(--indigo-dye);
}

.logo {
  display: flex;
  justify-content: end;
  font-size: 3rem;
  width: 500px;
  padding: 10px;
  background-color: var(--light-blue);
  border-radius: 10px;
  color: var(--indigo-dye);
}

.nav-bar-link {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-left: 80px;
  align-self: center;
  font-size: 2rem;
}

.link {
  text-decoration: underline 0.7rem;
  color: var(--light-blue);
  text-decoration: underline;
}

/* SECTION 2: Banner */
.banner {
  border: 1px solid black;
  height: 13rem;
  background-image: url("../assets/images/pawel-czerwinski-eUVI3DQrTsE-unsplash\ \(1\).jpg");
  background-position: top;
  background-size: cover;
  position: relative;
}

.name {
  text-decoration: solid;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* SECTION 3: About me / img  */

/*
.about-me-img-container,
.img-section,
.about-me {
  border: 1px black solid;
}
*/

.about-me-img-container {
  margin: 2rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-section {
  width: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-me {
  flex: 2;
  position: relative;
}

.about-me-header {
  font-size: 4.5rem;
  text-decoration: underline;
  position: absolute;
  left: 10%;
}

.about-me-content {
  font-size: 1.95rem;
  position: absolute;
  left: 10%;
  top: 20%;
}

/* SECTION 4: Main Project */
.entire-project,
.main-project,
.main-img-container,
.main-img-container img,
.project-header,
.project-title {
  border: black 1px solid;
}

.entire-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  font-size: 4.5rem;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
}

.main-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90rem;
  opacity: 0.65;
}

.main-img-container {
  width: 90rem;
  height: 50rem;
}

.main-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-title {
  font-size: 2rem;
  background-color: var(--light-blue);
  color: var(--indigo-dye);
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  position: absolute;
  text-align: center;
  padding: 1.1rem;
}

.main-project:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* SECTION 5: Future Projects */
.future-projects-container,
.future-projects {
  border: 1px solid black;
  font-size: 2rem;
  margin-top: 2rem;
}

.future-projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 10rem;
}

.future-projects {
  margin-top: 0;
  margin-bottom: 2rem;
  width: 30rem;
  height: 30rem;
  position: relative;
}

.future-projects img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pending-project-title {
  font-size: 2rem;
  background-color: var(--light-blue);
  color: var(--indigo-dye);
  position: absolute;
  top: 0;
  right: 17.5%;
  text-align: center;
}

.future-projects:hover {
  transform: scale(1.1);
}

/* -------------------------------------------------------------------------------------------------------*/

/* Media Responsive web-page for small mobile phone 576px */

@media only screen and (max-width: 576px) and (min-width: 100px) {
  /* Section 1: Header*/
  .header {
    flex-direction: column;
    padding: 0;
  }

  .logo {
    font-size: 3rem;
    width: 100%;
    justify-content: flex-start;
  }

  .nav-bar-link {
    flex-direction: column;
  }

  .nav-link {
    margin: 7px 0;
    font-size: 2rem;
  }

  /* Section 2: Banner*/

  .name {
    font-size: 5rem;
  }
  .banner {
    height: 20rem;
  }

  /* Section 3: About Me and IMG container*/

  .about-me-img-container {
    margin: 0;
    margin-bottom: 5rem;
    justify-content: center;
  }

  .about-me-header {
    margin-top: 0.5rem;
    position: static;
    text-align: center;
  }

  .about-me-content {
    position: static;
    justify-content: center;
  }

  /* SECTION 4: Main Project */

  .main-img-container {
    width: 34rem;
  }

  .main-project {
    width: 34rem;
    height: 20rem;
  }

  .project-title {
    font-size: 1rem;
  }
}

/* Media Responsive web-page for large mobile phone 768px */

@media only screen and (max-width: 768px) and (min-width: 577px) {
  /* Section 1: Header*/
  .header {
    flex-direction: column;
    padding: 0;
  }

  .logo {
    font-size: 3rem;
    width: 100%;
    justify-content: flex-start;
  }

  .nav-bar-link {
    flex-direction: column;
  }

  .nav-link {
    margin: 7px 0;
    font-size: 2rem;
  }

  /* Section 2: Banner*/

  .name {
    font-size: 6rem;
  }
  .banner {
    height: 25rem;
  }

  /* Section 3: About Me and IMG container*/

  .about-me-img-container {
    margin: 0;
    justify-content: center;
  }

  .about-me-header {
    margin-top: 0.5rem;
    position: static;
    text-align: center;
  }

  .about-me-content {
    position: static;
    justify-content: center;
  }

  /* SECTION 4: Main Project */

  .main-img-container {
    width: 45rem;
  }

  .main-project {
    width: 45rem;
    height: 25rem;
  }

  .project-title {
    font-size: 1rem;
  }
}

/* Media Responsive web-page for tablet 992px */

@media only screen and (max-width: 992px) and (min-width: 769px) {
  /* Section 1: Header*/
  .logo {
    font-size: 3rem;
    width: 300px;
  }

  .nav-link {
    font-size: 2rem;
    margin-left: 60px;
  }

  /* Section 2: Banner*/

  .name {
    font-size: 6rem;
  }
  .banner {
    height: 25rem;
  }

  /* Section 3: About Me and IMG container*/

  .about-me-img-container {
    margin: 0;
    margin-bottom: 5rem;
    flex-direction: row-reverse;
  }

  .img-section {
    width: 35rem;
  }

  .about-me-header {
    margin-top: 0.5rem;
    position: static;
    text-align: center;
  }

  .about-me-content {
    position: static;
    justify-content: center;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}

@keyframes bounce {
  0% {
    right: 0;
  }
  25% {
    right: 50;
  }
  50% {
    right: 30;
  }
  100% {
    right: 40;
  }
}
